<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Indoor Maps App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/indoor/0.1/atlas-indoor.min.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">


  <script src="/javascripts/notify.js"></script>
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/javascript/indoor/0.1/atlas-indoor.min.js"></script>

  <script src="/ms-rest-js/dist/msRest.browser.js"></script>
  <script src="/ms-rest-browserauth/dist/msAuth.js"></script>



  </head>
  <body>


    {{{body}}}
     <script src="/javascripts/client.js"></script>
  </body>
</html>
 